---
import AddIcon from "@/components/ui/icons/AddIcon.astro";
interface Props {
  href?: string;
  text?: string;
  icon?: boolean;
  variant?:
    | "primary"
    | "secondary"
    | "tertiary"
    | "primaryHeading"
    | "primaryShine"
    | "white"
    | "white-secondary"
    | "primaryrounded";
  className?: string;
  width?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  ariaLabel?: string;
  justify?: string;
}

const {
  target = "_self",
  width = "auto",
  href = "contact",
  text,
  icon = false,
  variant = "primary",
  className = "",
  ariaLabel = "Button",
  justify = "center",
} = Astro.props;

const baseStyles = `px-5 py-1 font-medium  transition-all duration-300 group flex justify-${justify} items-center gap-2 w-auto md:w-${width} hover:cursor-pointer`;

const variants = {
  primary:
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md bg-button-accent hover:bg-button-primary rounded-md py-3 text-primary hover:shadow-[0_0_6px_0] hover:shadow-secondary-light transition-all duration-400",
  primaryShine:
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md bg-button-primary hover:shadow-[0_0_10px_0] hover:shadow-secondary-light rounded-md py-3 text-primary transition-all duration-400",
  primaryHeading:
    "font-semibold md:text-sm lg:text-md sm:text-md text-sm bg-button-primary hover:bg-button-secondary rounded-md py-3 text-primary",
  secondary:
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md hover:bg-button-primary rounded-md py-3 text-primary hover:shadow-[0_0_6px_0] hover:shadow-secondary-light transition-all duration-400 text-shadow-lg",
  primaryrounded:
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md bg-button-primary/60 hover:bg-button-secondary rounded-full py-3 text-primary hover:text-secondary hover:shadow-[0_0_6px_0] hover:shadow-secondary-light transition-all duration-400",
  tertiary:
    "text-primary hover:border-secondary-light py-3 font-semibold hover:bg-secondary rounded-md",
  white:
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md bg-button-white hover:shadow-[0_0_10px_0] hover:shadow-white transition-all duration-400 rounded-md py-3 text-primary-blue",
  "white-secondary":
    "font-semibold md:text-sm text-sm lg:text-md sm:text-md hover:bg-button-white rounded-md py-3 text-primary hover:text-primary-blue transition-all duration-400",
};
---

<a
  href={href}
  aria-label={ariaLabel}
  target={target}
  class:list={[baseStyles, variants[variant], className]}
>
  {icon && <AddIcon />}
  {text}
</a>
