---
import { SendIcon } from 'lucide-react';


interface Props {
  type?: "submit" | "button" | "reset";
  text?: string;
  variant?: "primary" | "secondary" | "tertiary" | "primaryHeading";
  className?: string;
  width?: string;
  icon?: boolean;
  ariaLabel?: string;
  justify?: string;
}

const {
  width = "auto",
  type = "submit",
  text,
  variant = "primary",
  className = "",
  ariaLabel = "Button",
  justify = "center",
  icon = false
} = Astro.props;

const baseStyles = `px-5 py-1 font-medium  transition-all duration-300 group flex justify-${justify} items-center gap-2 w-auto md:w-${width} hover:cursor-pointer`;

const variants = {
  primary: "font-semibold md:text-sm text-sm lg:text-md sm:text-md bg-button-dark hover:bg-button-primary rounded-full py-3 text-primary",
  primaryHeading: "font-semibold md:text-sm lg:text-md sm:text-md text-sm bg-button-primary hover:bg-button-secondary rounded-md py-3 text-primary",
  secondary: "font-semibold md:text-sm text-sm lg:text-md sm:text-md hover:bg-button-secondary hover:shadow-[0_0_6px_0] hover:shadow-secondary-light rounded-md py-3 text-primary bg-button-primary",
  tertiary:
    "text-primary hover:border-secondary-light py-3 font-semibold hover:bg-secondary rounded-md"
};
---


<button
  aria-label={ariaLabel}
  type={type}
  class:list={[baseStyles, variants[variant], className]}
>{icon && <SendIcon/>}    
  {text}
  
</button>