---
import CTAHeading from '@/components/ui/HeroSubComponents/CTAHeading.astro';
import rsf from '@/assets/rsf.png';
import heropattern from '@/assets/heropattern.svg';
interface Props {
    heading: string;
    subheading: string;
    image?: string;
    reverseOrder?: boolean;
    gradientFrom?: string;
    gradientVia?: string;
    gradientTo?: string;
    variant?: 'primary' | 'secondary' | 'white' | 'white-secondary';
    variant2?: 'primary' | 'secondary' | 'white' | 'white-secondary';
    text?: string;
    text2?: string;
}

const { 
    heading, 
    subheading, 
    image = rsf.src,
    reverseOrder = false,
    gradientFrom = 'from-gradient-start',
    gradientVia = 'via-gradient-middle',
    gradientTo = 'to-gradient-end',
    variant = 'primary',
    variant2 = 'secondary',
    text = 'AGENDAR UNA REUNION',
    text2 = 'MIRA MI HOJA DE VIDA'
} = Astro.props;

const contentOrder = reverseOrder ? 'md:order-2' : 'md:order-1';
const imageOrder = reverseOrder ? 'md:order-1' : 'md:order-2';
const imageAlign = reverseOrder ? 'justify-self-start' : 'justify-self-end';

---

<section class={`bg-gradient-to-b ${gradientFrom} ${gradientVia} ${gradientTo} md:pb-20 pb-12 rounded-t-[60px] mt-28 flex items-center justify-center md:min-h-screen relative`}>
    <div class="absolute top-0 left-0 z-0">
        <img src={heropattern.src} alt="Hero Pattern" class="w-full h-full" />
    </div>
    <article class="items-center justify-center container mx-auto px-4 sm:px-4 lg:px-6 text-secondary font-alexandria grid md:grid-cols-2 gap-10 grid-cols-1 z-10">
        <div class={`md:pt-20 pt-12 ${contentOrder}`}>
            <h1 class="lg:text-5xl md:text-3xl sm:text-2xl text-2xl font-bold text-primary lg:leading-15 ">{heading}</h1>
            <h2 class="lg:text-xl md:text-lg sm:text-md text-md leading-relaxed text-primary font-light my-8 sm:my-10 md:my-10 lg:my-20">{subheading}</h2>
            <CTAHeading variant={variant} variant2={variant2} text={text} text2={text2} />
        </div>
        <div class={`md:pt-20 pt-12 md:block hidden ${imageAlign} ${imageOrder}`}>
            <img src={image} alt="Hero" />
        </div>
    </article>
</section>
